#cadastroForm-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
}

#cadastroForm {
	background-color: #212121;
	box-shadow: 0 0 2px 1px black;
	padding: 5px 50px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
}

.cadastros {
	display: flex;
	column-gap: 20px;
}

#cadastroForm h1 {
	font-size: 3rem;
	color: white;
	text-shadow: 4px 4px #000;
	font-family: "Fredoka", sans-serif;
}

#cadastroForm ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 15px;
}

#cadastroForm li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#cadastroForm label {
	font-size: 1.4rem;
	color: #fff;
	align-self: flex-start;
}

#cadastroForm select,
#cadastroForm input {
	width: 350px;
}

#cadastroForm input {
	height: 30px;
	font-size: 1.3rem;
	font-family: "Fredoka", sans-serif;
}

#cadastroForm select {
	height: 24px;
}

#cadastroForm button {
	width: 150px;
	height: 50px;
	margin: 20px 0;
	font-size: 1.2rem;
	font-family: "Staatliches", cursive;
}
