main {
	height: 87vh;
	background-color: #1a2865;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Bangers", cursive;
}

#cadastroForm {
	background-color: #212121;
	box-shadow: 0 0 5px 2px black;
	height: 85%;
	padding: 20px 50px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
}

.cadastros {
	display: flex;
	column-gap: 20px;
}

#cadastroForm h1 {
	font-size: 2rem;
	color: white;
	text-shadow: 4px 4px #000;
	letter-spacing: 5px;
}

#cadastroForm ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 7px;
}

#cadastroForm li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#cadastroForm label {
	font-size: 1.4rem;
	color: #fff;
	align-self: flex-start;
}

#cadastroForm select,
#cadastroForm input {
	width: 350px;
}

#cadastroForm input {
	height: 20px;
}

#cadastroForm select {
	height: 24px;
}

#cadastroForm button {
	width: 150px;
	height: 50px;
	font-size: 1.5rem;
}
