/* MAIN */

@keyframes textAnimation {
	from {
		letter-spacing: 20px;
		text-shadow: 0;
	}
	to {
		letter-spacing: 25px;
		text-shadow: 7px 7px #000;
	}
}

main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
	background-color: #b2e1f5;
	height: 87.5vh;
}

/* .card-container {
	display: flex;
	width: 90vw;
	height: 90%;
} */

.img-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 55%;
	height: 100%;
	padding-top: 20px;
	box-sizing: border-box;
}

.img-section h3 {
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	text-align: center;
	font-size: 1.35rem;
}

.img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 85%;
}

.img-container p {
	position: absolute;
	top: -10px;
	color: #f1f1f1;
	font-size: 5.5rem;
	transform: translateX(15px);
	animation: textAnimation alternate-reverse infinite 1s;
}

.img-container img {
	height: 100%;
	width: 100%;
}

/* FORMULARIO */

.form-container {
	width: 42%;
	height: 95%;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 0 0 5px -1px black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to top, #515151, #515151bb);
}

h1 {
	font-size: 2rem;
}

b {
	margin: 2px 0 10px;
	font-size: 1.1rem;
}

.form-container form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	row-gap: 8px;
}

.form-container form span {
	width: 100%;
	font-size: 1.2rem;
}

input {
	height: 25px;
}

input,
textarea {
	width: 100%;
	font-size: 1.2rem;
}

button {
	width: 100px;
	height: 40px;
	border-radius: 5px;
	margin-bottom: 20px;
	border: 1px solid black;
	box-shadow: 0 0 5px 0px black;
	transition: all 0.3s;
	font-size: 1.2rem;
}

button:hover {
	box-shadow: 0 0 1px 0px black;
	transform: translateY(-1px);
}

button:active {
	width: 98px;
	box-shadow: none;
	transform: translateY(1px);
}
