* {
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-direction: row-reverse;
	height: 88vh;
}

/* NAVBAR */

.navbar {
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #fff;
	box-sizing: border-box;
	padding-top: 20px;
	width: 25%;
	background-color: #212121;
}

.navbar p:first-child {
	font-size: 2rem;
}

.navbar select {
	height: 30px;
	text-align: center;
}

.navbar-items-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
	height: 80%;
	width: 80%;
	row-gap: 20px;
}

.navbar-items-container button {
	margin-top: 30px;
	width: 120px;
	height: 40px;
	transition: 0.3s all;
	font-size: 1.2rem;
}

.navbar-items-container li {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
}

.navbar-items-container li:first-of-type {
	align-items: center;
}

.navbar-items-container li label {
	font-size: 1.2rem;
}

.navbar-items-container input {
	text-align: center;
	width: 100px;
}

.navbar-items-container select {
	width: 104px;
	height: 25px;
}

.navbar-items-container li:first-child input {
	width: 100%;
}

#in_heroName {
	height: 25px;
	text-align: center;
}

.selects {
	display: flex;
	column-gap: 5px;
}

.selects select {
	width: 100px;
}

#in_ranking {
	height: 21px;
}

/* HEROES CONTAINER */

.heroes_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1a2865;
	overflow-y: auto;
	width: 75%;
	padding: 50px;
	padding-top: 10px;
	padding-right: 20px;
}

.heroes_container h1 {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 10px;
	font-size: 2.5rem;
	color: #fff;
	text-decoration: underline;
	background-color: #212121;
}

#heroes_cards_container {
	display: flex;
	flex-flow: row wrap;
	box-sizing: border-box;
	row-gap: 20px;
	column-gap: 20px;
	width: 100%;
	height: 100%;
}

.hero-card {
	border: 1px solid black;
	border-radius: 10px;
	width: 22%;
	height: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	box-shadow: 0 0 5px -1px black;
}

.hero_name {
	text-align: center;
	border-bottom: 1px solid black;
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.hero_name span:first-of-type {
	position: absolute;
	left: 10px;
	border: 1px solid black;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

.hero-img {
	height: 70%;
}

.bottom-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 20%;
	border-top: 1px solid #000;
}

.select-container {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	width: 100%;
	padding: 7px 0 10px;
}

#in_nota {
	width: 50px;
	text-align: center;
}
